@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the NEW KhumaloCraft</h1>
    <a asp-controller="Home" asp-action="MyWorkPage" class="btn btn-primary">Check Out some of the ARTWORK</a>
</div>
